/* 
  线索 B（摩斯）隐藏在下方注释：
  --.- .-.. ..- -.-. .. ..-. . .-.
  (把以上摩斯从左到右译成字母，得到 "QLUCIFER")

  另外：注意打开开发者工具的 Console，有时我们也会在 console.log 留下次要线索。
*/

body {
  background: #fff;
  color: #111;
  margin: 0;
  padding: 0;
}
